.item {
  display: flex;
  border-bottom: 2px solid #f0f0f0;
  padding-top: 3px;
  padding-bottom: 3px;

  &__arrowIconWrapper {
    position: relative;
  }

  &__arrowIcon {
    position: absolute;
    left: -15px;
    transform: translateY(80%);
  }

  &__checkbox {
    margin-top: 5px;
  }

  &--layer1 {
    padding-left: 0px;
  }

  &--layer2 {
    padding-left: 20px;
  }

  &--layer3 {
    padding-left: 40px;
  }

  &--layer4 {
    padding-left: 60px;
  }

  &--layer5 {
    padding-left: 80px;
  }

  &__content {
    padding-top: 3px;
  }

  &__deleteBtnWrapper {
    margin-left: auto;
  }
}
